
body {
    font-family: 'Lora', serif;
    font-size: 16px;
    margin: 0;
    color: rgba(26,26,25, 0.7);
    background-color: #a0203a;
    text-align: center;
}

header {
    background-color: #222;
    color: white;
    padding: 20px;
    height: 15vh;
}

nav {
    background-color: #333;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.menu-item {
    margin: 0 15px;
}

.menu-item a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.button {
    padding: 10px 15px;
    border: 2px solid white;
    border-radius: 100px;
}

.button:hover { /*colore al passaggio, in modo da evidenziarlo*/
    background-color: #a0203a;
}

section {
    padding: 20px;
}

.game-container { /*CONTAINER DEGLI ELEMENTI GAME*/
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.game-card {
    margin: 10px;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    position: relative;
}

.game-card img {
    width: 350px;
    height: 200px;
    border-radius: 5px;
}

.status {
    font-weight: bold;
    padding: 5px;
    border-radius: 3px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    z-index: 2;
}

.online {
    color: green;
}

.manutenzione {
    color: red;
}

footer {
    background-color: rgb(31,31,31);
    color: rgba(255, 255, 255, 0.4);
    padding: 50px;
    text-align: center;
    height: 10vh;
}

article img {
    width: 900px;
    height: auto;
}

article p {
    font-size: 1.5rem;
    font-style: italic;
    color: #000000;
    line-height: 1.6;
}

@media (max-width: 500px) {
    body {
        font-size: 14px;
    }

    nav {
        padding: 20px 0;
        text-align: center;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .menu-item {
        display: inline-block;
        margin: 5px;
    }

    .game-card img {
        width: 100%;
        height: auto;
    }

    article img {
        width: 320px;
        height: auto;
    }
}
